.background-anim {
  position: fixed;
  top: 0;
  left: 72px;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1692px 856px #fff, 1064px 1192px #fff, 735px 891px #fff,
    1874px 290px #fff, 662px 1356px #fff, 1298px 421px #fff, 1782px 1156px #fff,
    1665px 1025px #fff, 1037px 1570px #fff, 1999px 1821px #fff,
    1958px 361px #fff, 600px 1350px #fff, 323px 1795px #fff, 1400px 923px #fff,
    92px 1013px #fff, 1375px 578px #fff, 1943px 1183px #fff, 688px 701px #fff,
    1497px 787px #fff, 1447px 1372px #fff, 795px 1135px #fff, 678px 1145px #fff,
    1720px 185px #fff, 408px 1878px #fff, 833px 1676px #fff, 1177px 921px #fff,
    30px 219px #fff, 524px 1319px #fff, 1567px 1731px #fff, 1550px 80px #fff,
    1599px 340px #fff, 224px 1014px #fff, 332px 771px #fff, 878px 82px #fff,
    291px 374px #fff, 1444px 1124px #fff, 1139px 480px #fff, 433px 1480px #fff,
    541px 1369px #fff, 1633px 19px #fff, 607px 1400px #fff, 512px 834px #fff,
    466px 833px #fff, 1453px 1621px #fff, 1543px 1222px #fff, 459px 765px #fff,
    939px 1601px #fff, 1918px 1960px #fff, 1923px 1807px #fff, 154px 1285px #fff,
    274px 1131px #fff, 1124px 1362px #fff, 1540px 1415px #fff, 660px 451px #fff,
    1425px 474px #fff, 386px 1766px #fff, 253px 741px #fff, 1955px 1711px #fff,
    1902px 236px #fff, 1627px 730px #fff, 570px 84px #fff, 721px 1653px #fff,
    498px 1254px #fff, 61px 200px #fff, 884px 1377px #fff, 1887px 803px #fff,
    1682px 1217px #fff, 1551px 1635px #fff, 942px 1773px #fff, 984px 1507px #fff,
    904px 1095px #fff, 313px 480px #fff, 135px 370px #fff, 741px 75px #fff,
    583px 1228px #fff, 372px 1820px #fff, 1930px 141px #fff, 669px 48px #fff,
    1562px 374px #fff, 834px 1040px #fff, 1474px 1514px #fff, 192px 1021px #fff,
    1146px 222px #fff, 582px 1083px #fff, 10px 1080px #fff, 1453px 187px #fff,
    971px 577px #fff, 622px 479px #fff, 339px 288px #fff, 1792px 1145px #fff,
    360px 556px #fff, 1635px 1050px #fff, 796px 888px #fff, 1919px 1649px #fff,
    593px 287px #fff, 216px 1573px #fff, 1473px 1401px #fff, 776px 1182px #fff,
    1536px 1798px #fff, 554px 293px #fff, 460px 335px #fff, 1446px 1995px #fff,
    520px 929px #fff, 935px 1660px #fff, 1002px 192px #fff, 727px 1494px #fff,
    1518px 1879px #fff, 1742px 1766px #fff, 21px 1623px #fff, 47px 1046px #fff,
    1455px 1058px #fff, 754px 676px #fff, 266px 1057px #fff, 1173px 517px #fff,
    1415px 910px #fff, 1983px 1051px #fff, 1222px 1797px #fff, 1609px 308px #fff,
    131px 718px #fff, 1243px 1458px #fff, 1117px 1317px #fff, 1948px 892px #fff,
    1339px 186px #fff, 1483px 637px #fff, 929px 917px #fff, 102px 1793px #fff,
    168px 724px #fff, 90px 768px #fff, 133px 1657px #fff, 1034px 1946px #fff,
    1182px 1018px #fff, 1195px 644px #fff, 802px 474px #fff, 1397px 1585px #fff,
    566px 1787px #fff, 1100px 530px #fff, 159px 927px #fff, 1126px 1691px #fff,
    73px 1882px #fff, 1155px 1025px #fff, 1625px 367px #fff, 1451px 622px #fff,
    1865px 1095px #fff, 1769px 1328px #fff, 1556px 991px #fff,
    1774px 1744px #fff, 335px 1246px #fff, 1895px 133px #fff, 1144px 394px #fff,
    956px 998px #fff, 150px 108px #fff, 1519px 1549px #fff, 668px 1412px #fff,
    1450px 1483px #fff, 855px 1310px #fff, 1184px 195px #fff, 1572px 1447px #fff,
    1830px 103px #fff, 946px 1000px #fff, 24px 1043px #fff, 1891px 999px #fff,
    1259px 1586px #fff, 942px 1158px #fff, 548px 1407px #fff, 1053px 819px #fff,
    546px 1647px #fff, 1898px 200px #fff, 467px 788px #fff, 567px 93px #fff,
    897px 1344px #fff, 1372px 17px #fff, 760px 1325px #fff, 1965px 331px #fff,
    911px 1948px #fff, 513px 1733px #fff, 1061px 1449px #fff, 1396px 43px #fff,
    1327px 1637px #fff, 1345px 1072px #fff, 536px 139px #fff, 730px 1557px #fff,
    1969px 1249px #fff, 875px 1063px #fff, 1002px 386px #fff, 1872px 972px #fff,
    560px 1026px #fff, 1343px 699px #fff, 1292px 1149px #fff, 691px 1577px #fff,
    28px 1204px #fff, 1054px 1241px #fff, 1395px 1073px #fff, 1016px 1907px #fff,
    41px 1711px #fff, 427px 957px #fff, 851px 651px #fff, 596px 382px #fff,
    1559px 53px #fff, 1348px 113px #fff, 692px 564px #fff, 1852px 165px #fff,
    1567px 658px #fff, 1663px 1855px #fff, 694px 1825px #fff, 70px 841px #fff,
    1702px 1663px #fff, 1724px 1929px #fff, 1393px 1656px #fff,
    1068px 570px #fff, 1845px 873px #fff, 1674px 614px #fff, 538px 1120px #fff,
    520px 179px #fff, 1283px 1878px #fff, 269px 1206px #fff, 218px 481px #fff,
    1404px 23px #fff, 1492px 1160px #fff, 56px 566px #fff, 1146px 889px #fff,
    1715px 1927px #fff, 1192px 1353px #fff, 1104px 226px #fff, 1029px 292px #fff,
    208px 1045px #fff, 334px 1890px #fff, 811px 165px #fff, 876px 997px #fff,
    403px 1159px #fff, 258px 1911px #fff, 692px 1711px #fff, 1939px 826px #fff,
    1051px 655px #fff, 950px 1502px #fff, 1234px 906px #fff, 1563px 1580px #fff,
    307px 1748px #fff, 1923px 1756px #fff, 512px 1040px #fff, 1122px 356px #fff,
    1348px 507px #fff, 133px 375px #fff, 1432px 1158px #fff, 584px 1191px #fff,
    1121px 757px #fff, 631px 648px #fff, 1198px 805px #fff, 106px 428px #fff,
    887px 642px #fff, 1110px 142px #fff, 906px 1719px #fff, 141px 293px #fff,
    1874px 1140px #fff, 1020px 1215px #fff, 1103px 59px #fff, 483px 1075px #fff,
    698px 886px #fff, 1969px 923px #fff, 1472px 1110px #fff, 1962px 204px #fff,
    71px 1457px #fff, 145px 875px #fff, 646px 1876px #fff, 1756px 785px #fff,
    1432px 450px #fff, 821px 742px #fff, 555px 207px #fff, 754px 803px #fff,
    1394px 389px #fff, 466px 446px #fff, 397px 1568px #fff, 1132px 74px #fff,
    877px 519px #fff, 727px 1461px #fff, 657px 276px #fff, 755px 1769px #fff,
    1490px 193px #fff, 162px 1664px #fff, 735px 1519px #fff, 789px 1343px #fff,
    150px 198px #fff, 684px 272px #fff, 1188px 535px #fff, 1164px 513px #fff,
    790px 273px #fff, 705px 191px #fff, 1958px 1930px #fff, 141px 1007px #fff,
    118px 486px #fff, 1115px 348px #fff, 1152px 1766px #fff, 1306px 303px #fff,
    670px 266px #fff, 1594px 1574px #fff, 402px 1192px #fff, 95px 1956px #fff,
    1513px 790px #fff, 1606px 992px #fff, 1348px 466px #fff, 1234px 1600px #fff,
    471px 296px #fff, 638px 100px #fff, 1198px 1772px #fff, 1689px 584px #fff,
    1962px 174px #fff, 118px 512px #fff, 704px 238px #fff, 1741px 1599px #fff,
    1939px 1712px #fff, 2px 1782px #fff, 707px 130px #fff, 1073px 1887px #fff,
    640px 1035px #fff, 1004px 1324px #fff, 1266px 1166px #fff,
    1471px 1154px #fff, 1156px 907px #fff, 294px 323px #fff, 1103px 1510px #fff,
    1551px 1235px #fff, 649px 1381px #fff, 1362px 673px #fff, 1792px 1343px #fff,
    1092px 216px #fff, 985px 548px #fff, 635px 643px #fff, 1307px 807px #fff,
    1541px 1443px #fff, 1229px 65px #fff, 989px 1401px #fff, 55px 1524px #fff,
    608px 749px #fff, 1348px 1296px #fff, 835px 444px #fff, 1889px 1101px #fff,
    697px 1804px #fff, 1948px 1254px #fff, 1533px 171px #fff, 1574px 1671px #fff,
    1031px 439px #fff, 489px 1124px #fff, 488px 1262px #fff, 1560px 1183px #fff,
    562px 1305px #fff, 1632px 1199px #fff, 722px 1568px #fff, 923px 617px #fff,
    1553px 540px #fff, 9px 44px #fff, 1877px 305px #fff, 906px 317px #fff,
    1800px 1682px #fff, 1629px 165px #fff, 774px 257px #fff, 122px 826px #fff,
    1824px 896px #fff, 1963px 1856px #fff, 425px 392px #fff, 787px 1719px #fff,
    1190px 1506px #fff, 800px 591px #fff, 1051px 636px #fff, 1720px 1172px #fff,
    1508px 1096px #fff, 108px 1652px #fff, 1684px 1502px #fff, 1863px 131px #fff,
    1628px 1766px #fff, 281px 1417px #fff, 1869px 1447px #fff, 147px 1368px #fff,
    866px 516px #fff, 1672px 1276px #fff, 1130px 1426px #fff, 921px 1582px #fff,
    1074px 410px #fff, 612px 847px #fff, 1086px 987px #fff, 1930px 8px #fff,
    934px 357px #fff, 157px 1765px #fff, 222px 1033px #fff, 1934px 187px #fff,
    431px 1934px #fff, 782px 482px #fff, 1830px 1619px #fff, 611px 1772px #fff,
    267px 893px #fff, 848px 1080px #fff, 399px 421px #fff, 111px 663px #fff,
    1689px 1861px #fff, 308px 802px #fff, 864px 543px #fff, 1696px 762px #fff,
    1683px 1078px #fff, 116px 1833px #fff, 331px 1900px #fff, 1958px 1169px #fff,
    93px 1192px #fff, 567px 1148px #fff, 939px 99px #fff, 465px 533px #fff,
    1022px 699px #fff, 577px 1919px #fff, 121px 1483px #fff, 526px 1005px #fff,
    633px 1685px #fff, 301px 555px #fff, 1563px 1824px #fff, 1830px 248px #fff,
    1130px 1718px #fff, 449px 1066px #fff, 555px 276px #fff, 1581px 488px #fff,
    1365px 927px #fff, 1296px 243px #fff, 1194px 1571px #fff, 1560px 1826px #fff,
    1825px 93px #fff, 1984px 374px #fff, 869px 1024px #fff, 63px 1915px #fff,
    598px 654px #fff, 193px 18px #fff, 383px 1730px #fff, 1749px 1545px #fff,
    1220px 1092px #fff, 1981px 654px #fff, 719px 60px #fff, 58px 249px #fff,
    878px 204px #fff, 799px 653px #fff, 184px 742px #fff, 1059px 1452px #fff,
    217px 924px #fff, 186px 46px #fff, 911px 2px #fff, 414px 1523px #fff,
    511px 1271px #fff, 261px 1546px #fff, 57px 1206px #fff, 946px 158px #fff,
    1416px 759px #fff, 302px 1908px #fff, 1620px 1px #fff, 432px 613px #fff,
    1886px 432px #fff, 924px 573px #fff, 1414px 157px #fff, 859px 1986px #fff,
    1287px 1898px #fff, 288px 1251px #fff, 861px 274px #fff, 37px 248px #fff,
    87px 1625px #fff, 399px 1533px #fff, 1728px 190px #fff, 734px 1739px #fff,
    776px 1314px #fff, 750px 99px #fff, 809px 1622px #fff, 134px 110px #fff,
    151px 254px #fff, 154px 146px #fff, 1768px 866px #fff, 1155px 1261px #fff,
    1027px 693px #fff, 1582px 1690px #fff, 1690px 647px #fff, 208px 1186px #fff,
    868px 913px #fff, 1601px 1923px #fff, 953px 1920px #fff, 88px 495px #fff,
    975px 882px #fff, 463px 1805px #fff, 1734px 1609px #fff, 317px 11px #fff,
    692px 319px #fff, 1765px 1354px #fff, 1474px 1838px #fff, 1551px 1px #fff,
    948px 1973px #fff, 1287px 330px #fff, 1298px 1262px #fff, 1125px 661px #fff,
    1951px 662px #fff, 926px 1853px #fff, 1631px 1504px #fff, 751px 1663px #fff,
    1530px 140px #fff, 1187px 1340px #fff, 1824px 1989px #fff, 780px 55px #fff,
    200px 309px #fff, 1450px 377px #fff, 1157px 473px #fff, 1171px 874px #fff,
    1565px 1603px #fff, 926px 1623px #fff, 794px 1257px #fff, 1190px 302px #fff,
    1729px 348px #fff, 1589px 249px #fff, 1380px 1961px #fff, 1677px 1727px #fff,
    1795px 1108px #fff, 66px 1379px #fff, 237px 846px #fff, 1882px 987px #fff,
    988px 1186px #fff, 191px 285px #fff, 1649px 1999px #fff, 1562px 1505px #fff,
    1719px 237px #fff, 1166px 1326px #fff, 1632px 1664px #fff, 958px 611px #fff,
    877px 1651px #fff, 625px 1389px #fff, 363px 858px #fff, 1750px 1008px #fff,
    349px 1758px #fff, 1669px 278px #fff, 376px 402px #fff, 1107px 1512px #fff,
    1665px 2px #fff, 493px 1666px #fff, 1981px 539px #fff, 978px 1064px #fff,
    1283px 34px #fff, 468px 1063px #fff, 613px 628px #fff, 1536px 1502px #fff,
    1071px 223px #fff, 672px 346px #fff, 300px 1939px #fff, 1338px 1426px #fff,
    1484px 1676px #fff, 1251px 565px #fff, 477px 1245px #fff, 1824px 744px #fff,
    411px 1711px #fff, 1117px 1244px #fff, 1191px 767px #fff, 1489px 1351px #fff,
    1552px 565px #fff, 250px 1311px #fff, 1738px 790px #fff, 1763px 650px #fff,
    223px 897px #fff, 1729px 1621px #fff, 1670px 571px #fff, 1717px 614px #fff,
    1165px 378px #fff, 576px 31px #fff, 581px 129px #fff, 138px 1120px #fff,
    1396px 731px #fff, 1015px 1773px #fff, 1346px 1005px #fff, 1489px 841px #fff,
    975px 1966px #fff, 1860px 503px #fff, 1765px 517px #fff, 1512px 1612px #fff,
    1410px 1173px #fff, 1898px 1688px #fff, 732px 203px #fff, 1255px 1631px #fff,
    989px 1465px #fff, 680px 989px #fff, 911px 916px #fff, 735px 1832px #fff,
    1064px 1679px #fff, 359px 82px #fff, 832px 85px #fff, 1115px 1917px #fff,
    1205px 1002px #fff, 1793px 1542px #fff, 1142px 1763px #fff,
    1188px 1262px #fff, 348px 1486px #fff, 137px 1757px #fff, 1243px 949px #fff,
    269px 201px #fff, 1226px 344px #fff, 1736px 577px #fff, 21px 289px #fff,
    1663px 753px #fff, 1316px 948px #fff, 590px 1871px #fff, 1497px 1014px #fff,
    93px 1236px #fff, 1644px 954px #fff, 1611px 1332px #fff, 348px 1230px #fff,
    446px 880px #fff, 233px 1747px #fff, 1019px 180px #fff, 428px 663px #fff,
    440px 289px #fff, 320px 230px #fff, 548px 1747px #fff, 386px 1928px #fff,
    254px 1013px #fff, 1923px 150px #fff, 839px 1238px #fff, 45px 539px #fff,
    949px 656px #fff, 1859px 1406px #fff, 263px 893px #fff, 1607px 56px #fff,
    930px 753px #fff, 1519px 642px #fff, 427px 668px #fff, 1604px 11px #fff,
    1309px 1638px #fff, 1551px 124px #fff, 38px 928px #fff, 1731px 1156px #fff,
    1104px 1364px #fff, 73px 110px #fff, 1316px 908px #fff, 1383px 1297px #fff,
    765px 1140px #fff, 1034px 1647px #fff, 412px 1709px #fff, 1701px 1934px #fff,
    1447px 1078px #fff, 1508px 1580px #fff, 1452px 1554px #fff, 73px 1551px #fff,
    1283px 1288px #fff, 1634px 748px #fff, 1507px 1842px #fff, 814px 1180px #fff,
    295px 1327px #fff, 1167px 1536px #fff, 377px 916px #fff, 1037px 234px #fff,
    629px 538px #fff, 1410px 824px #fff, 201px 590px #fff, 1782px 571px #fff,
    699px 1665px #fff, 1439px 135px #fff, 1368px 730px #fff, 1079px 1632px #fff,
    1220px 1219px #fff, 1505px 1227px #fff, 274px 1742px #fff,
    1845px 1940px #fff, 1477px 1725px #fff, 788px 1236px #fff,
    1753px 1025px #fff, 1468px 921px #fff, 1056px 253px #fff, 1840px 1333px #fff,
    147px 412px #fff, 232px 902px #fff, 1822px 1583px #fff, 1947px 770px #fff,
    1597px 1806px #fff, 14px 177px #fff, 69px 336px #fff, 1045px 475px #fff,
    1141px 499px #fff, 228px 1164px #fff, 1231px 759px #fff, 1607px 3px #fff,
    262px 1649px #fff, 317px 1327px #fff, 1330px 763px #fff, 319px 506px #fff,
    1983px 1308px #fff, 716px 535px #fff, 105px 841px #fff, 916px 337px #fff,
    1522px 89px #fff, 1806px 1068px #fff, 1554px 15px #fff, 388px 440px #fff,
    1932px 1581px #fff, 582px 251px #fff, 226px 1516px #fff, 1978px 1968px #fff,
    418px 1410px #fff, 85px 1398px #fff, 1375px 1033px #fff, 1440px 280px #fff,
    1943px 310px #fff, 892px 1599px #fff, 287px 1051px #fff, 1326px 930px #fff,
    1227px 844px #fff, 1160px 897px #fff, 1795px 180px #fff, 939px 995px #fff;
  -webkit-animation: animStar 50s linear infinite;
  animation: animStar 50s linear infinite;
}

#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1692px 856px #fff, 1064px 1192px #fff, 735px 891px #fff,
    1874px 290px #fff, 662px 1356px #fff, 1298px 421px #fff, 1782px 1156px #fff,
    1665px 1025px #fff, 1037px 1570px #fff, 1999px 1821px #fff,
    1958px 361px #fff, 600px 1350px #fff, 323px 1795px #fff, 1400px 923px #fff,
    92px 1013px #fff, 1375px 578px #fff, 1943px 1183px #fff, 688px 701px #fff,
    1497px 787px #fff, 1447px 1372px #fff, 795px 1135px #fff, 678px 1145px #fff,
    1720px 185px #fff, 408px 1878px #fff, 833px 1676px #fff, 1177px 921px #fff,
    30px 219px #fff, 524px 1319px #fff, 1567px 1731px #fff, 1550px 80px #fff,
    1599px 340px #fff, 224px 1014px #fff, 332px 771px #fff, 878px 82px #fff,
    291px 374px #fff, 1444px 1124px #fff, 1139px 480px #fff, 433px 1480px #fff,
    541px 1369px #fff, 1633px 19px #fff, 607px 1400px #fff, 512px 834px #fff,
    466px 833px #fff, 1453px 1621px #fff, 1543px 1222px #fff, 459px 765px #fff,
    939px 1601px #fff, 1918px 1960px #fff, 1923px 1807px #fff, 154px 1285px #fff,
    274px 1131px #fff, 1124px 1362px #fff, 1540px 1415px #fff, 660px 451px #fff,
    1425px 474px #fff, 386px 1766px #fff, 253px 741px #fff, 1955px 1711px #fff,
    1902px 236px #fff, 1627px 730px #fff, 570px 84px #fff, 721px 1653px #fff,
    498px 1254px #fff, 61px 200px #fff, 884px 1377px #fff, 1887px 803px #fff,
    1682px 1217px #fff, 1551px 1635px #fff, 942px 1773px #fff, 984px 1507px #fff,
    904px 1095px #fff, 313px 480px #fff, 135px 370px #fff, 741px 75px #fff,
    583px 1228px #fff, 372px 1820px #fff, 1930px 141px #fff, 669px 48px #fff,
    1562px 374px #fff, 834px 1040px #fff, 1474px 1514px #fff, 192px 1021px #fff,
    1146px 222px #fff, 582px 1083px #fff, 10px 1080px #fff, 1453px 187px #fff,
    971px 577px #fff, 622px 479px #fff, 339px 288px #fff, 1792px 1145px #fff,
    360px 556px #fff, 1635px 1050px #fff, 796px 888px #fff, 1919px 1649px #fff,
    593px 287px #fff, 216px 1573px #fff, 1473px 1401px #fff, 776px 1182px #fff,
    1536px 1798px #fff, 554px 293px #fff, 460px 335px #fff, 1446px 1995px #fff,
    520px 929px #fff, 935px 1660px #fff, 1002px 192px #fff, 727px 1494px #fff,
    1518px 1879px #fff, 1742px 1766px #fff, 21px 1623px #fff, 47px 1046px #fff,
    1455px 1058px #fff, 754px 676px #fff, 266px 1057px #fff, 1173px 517px #fff,
    1415px 910px #fff, 1983px 1051px #fff, 1222px 1797px #fff, 1609px 308px #fff,
    131px 718px #fff, 1243px 1458px #fff, 1117px 1317px #fff, 1948px 892px #fff,
    1339px 186px #fff, 1483px 637px #fff, 929px 917px #fff, 102px 1793px #fff,
    168px 724px #fff, 90px 768px #fff, 133px 1657px #fff, 1034px 1946px #fff,
    1182px 1018px #fff, 1195px 644px #fff, 802px 474px #fff, 1397px 1585px #fff,
    566px 1787px #fff, 1100px 530px #fff, 159px 927px #fff, 1126px 1691px #fff,
    73px 1882px #fff, 1155px 1025px #fff, 1625px 367px #fff, 1451px 622px #fff,
    1865px 1095px #fff, 1769px 1328px #fff, 1556px 991px #fff,
    1774px 1744px #fff, 335px 1246px #fff, 1895px 133px #fff, 1144px 394px #fff,
    956px 998px #fff, 150px 108px #fff, 1519px 1549px #fff, 668px 1412px #fff,
    1450px 1483px #fff, 855px 1310px #fff, 1184px 195px #fff, 1572px 1447px #fff,
    1830px 103px #fff, 946px 1000px #fff, 24px 1043px #fff, 1891px 999px #fff,
    1259px 1586px #fff, 942px 1158px #fff, 548px 1407px #fff, 1053px 819px #fff,
    546px 1647px #fff, 1898px 200px #fff, 467px 788px #fff, 567px 93px #fff,
    897px 1344px #fff, 1372px 17px #fff, 760px 1325px #fff, 1965px 331px #fff,
    911px 1948px #fff, 513px 1733px #fff, 1061px 1449px #fff, 1396px 43px #fff,
    1327px 1637px #fff, 1345px 1072px #fff, 536px 139px #fff, 730px 1557px #fff,
    1969px 1249px #fff, 875px 1063px #fff, 1002px 386px #fff, 1872px 972px #fff,
    560px 1026px #fff, 1343px 699px #fff, 1292px 1149px #fff, 691px 1577px #fff,
    28px 1204px #fff, 1054px 1241px #fff, 1395px 1073px #fff, 1016px 1907px #fff,
    41px 1711px #fff, 427px 957px #fff, 851px 651px #fff, 596px 382px #fff,
    1559px 53px #fff, 1348px 113px #fff, 692px 564px #fff, 1852px 165px #fff,
    1567px 658px #fff, 1663px 1855px #fff, 694px 1825px #fff, 70px 841px #fff,
    1702px 1663px #fff, 1724px 1929px #fff, 1393px 1656px #fff,
    1068px 570px #fff, 1845px 873px #fff, 1674px 614px #fff, 538px 1120px #fff,
    520px 179px #fff, 1283px 1878px #fff, 269px 1206px #fff, 218px 481px #fff,
    1404px 23px #fff, 1492px 1160px #fff, 56px 566px #fff, 1146px 889px #fff,
    1715px 1927px #fff, 1192px 1353px #fff, 1104px 226px #fff, 1029px 292px #fff,
    208px 1045px #fff, 334px 1890px #fff, 811px 165px #fff, 876px 997px #fff,
    403px 1159px #fff, 258px 1911px #fff, 692px 1711px #fff, 1939px 826px #fff,
    1051px 655px #fff, 950px 1502px #fff, 1234px 906px #fff, 1563px 1580px #fff,
    307px 1748px #fff, 1923px 1756px #fff, 512px 1040px #fff, 1122px 356px #fff,
    1348px 507px #fff, 133px 375px #fff, 1432px 1158px #fff, 584px 1191px #fff,
    1121px 757px #fff, 631px 648px #fff, 1198px 805px #fff, 106px 428px #fff,
    887px 642px #fff, 1110px 142px #fff, 906px 1719px #fff, 141px 293px #fff,
    1874px 1140px #fff, 1020px 1215px #fff, 1103px 59px #fff, 483px 1075px #fff,
    698px 886px #fff, 1969px 923px #fff, 1472px 1110px #fff, 1962px 204px #fff,
    71px 1457px #fff, 145px 875px #fff, 646px 1876px #fff, 1756px 785px #fff,
    1432px 450px #fff, 821px 742px #fff, 555px 207px #fff, 754px 803px #fff,
    1394px 389px #fff, 466px 446px #fff, 397px 1568px #fff, 1132px 74px #fff,
    877px 519px #fff, 727px 1461px #fff, 657px 276px #fff, 755px 1769px #fff,
    1490px 193px #fff, 162px 1664px #fff, 735px 1519px #fff, 789px 1343px #fff,
    150px 198px #fff, 684px 272px #fff, 1188px 535px #fff, 1164px 513px #fff,
    790px 273px #fff, 705px 191px #fff, 1958px 1930px #fff, 141px 1007px #fff,
    118px 486px #fff, 1115px 348px #fff, 1152px 1766px #fff, 1306px 303px #fff,
    670px 266px #fff, 1594px 1574px #fff, 402px 1192px #fff, 95px 1956px #fff,
    1513px 790px #fff, 1606px 992px #fff, 1348px 466px #fff, 1234px 1600px #fff,
    471px 296px #fff, 638px 100px #fff, 1198px 1772px #fff, 1689px 584px #fff,
    1962px 174px #fff, 118px 512px #fff, 704px 238px #fff, 1741px 1599px #fff,
    1939px 1712px #fff, 2px 1782px #fff, 707px 130px #fff, 1073px 1887px #fff,
    640px 1035px #fff, 1004px 1324px #fff, 1266px 1166px #fff,
    1471px 1154px #fff, 1156px 907px #fff, 294px 323px #fff, 1103px 1510px #fff,
    1551px 1235px #fff, 649px 1381px #fff, 1362px 673px #fff, 1792px 1343px #fff,
    1092px 216px #fff, 985px 548px #fff, 635px 643px #fff, 1307px 807px #fff,
    1541px 1443px #fff, 1229px 65px #fff, 989px 1401px #fff, 55px 1524px #fff,
    608px 749px #fff, 1348px 1296px #fff, 835px 444px #fff, 1889px 1101px #fff,
    697px 1804px #fff, 1948px 1254px #fff, 1533px 171px #fff, 1574px 1671px #fff,
    1031px 439px #fff, 489px 1124px #fff, 488px 1262px #fff, 1560px 1183px #fff,
    562px 1305px #fff, 1632px 1199px #fff, 722px 1568px #fff, 923px 617px #fff,
    1553px 540px #fff, 9px 44px #fff, 1877px 305px #fff, 906px 317px #fff,
    1800px 1682px #fff, 1629px 165px #fff, 774px 257px #fff, 122px 826px #fff,
    1824px 896px #fff, 1963px 1856px #fff, 425px 392px #fff, 787px 1719px #fff,
    1190px 1506px #fff, 800px 591px #fff, 1051px 636px #fff, 1720px 1172px #fff,
    1508px 1096px #fff, 108px 1652px #fff, 1684px 1502px #fff, 1863px 131px #fff,
    1628px 1766px #fff, 281px 1417px #fff, 1869px 1447px #fff, 147px 1368px #fff,
    866px 516px #fff, 1672px 1276px #fff, 1130px 1426px #fff, 921px 1582px #fff,
    1074px 410px #fff, 612px 847px #fff, 1086px 987px #fff, 1930px 8px #fff,
    934px 357px #fff, 157px 1765px #fff, 222px 1033px #fff, 1934px 187px #fff,
    431px 1934px #fff, 782px 482px #fff, 1830px 1619px #fff, 611px 1772px #fff,
    267px 893px #fff, 848px 1080px #fff, 399px 421px #fff, 111px 663px #fff,
    1689px 1861px #fff, 308px 802px #fff, 864px 543px #fff, 1696px 762px #fff,
    1683px 1078px #fff, 116px 1833px #fff, 331px 1900px #fff, 1958px 1169px #fff,
    93px 1192px #fff, 567px 1148px #fff, 939px 99px #fff, 465px 533px #fff,
    1022px 699px #fff, 577px 1919px #fff, 121px 1483px #fff, 526px 1005px #fff,
    633px 1685px #fff, 301px 555px #fff, 1563px 1824px #fff, 1830px 248px #fff,
    1130px 1718px #fff, 449px 1066px #fff, 555px 276px #fff, 1581px 488px #fff,
    1365px 927px #fff, 1296px 243px #fff, 1194px 1571px #fff, 1560px 1826px #fff,
    1825px 93px #fff, 1984px 374px #fff, 869px 1024px #fff, 63px 1915px #fff,
    598px 654px #fff, 193px 18px #fff, 383px 1730px #fff, 1749px 1545px #fff,
    1220px 1092px #fff, 1981px 654px #fff, 719px 60px #fff, 58px 249px #fff,
    878px 204px #fff, 799px 653px #fff, 184px 742px #fff, 1059px 1452px #fff,
    217px 924px #fff, 186px 46px #fff, 911px 2px #fff, 414px 1523px #fff,
    511px 1271px #fff, 261px 1546px #fff, 57px 1206px #fff, 946px 158px #fff,
    1416px 759px #fff, 302px 1908px #fff, 1620px 1px #fff, 432px 613px #fff,
    1886px 432px #fff, 924px 573px #fff, 1414px 157px #fff, 859px 1986px #fff,
    1287px 1898px #fff, 288px 1251px #fff, 861px 274px #fff, 37px 248px #fff,
    87px 1625px #fff, 399px 1533px #fff, 1728px 190px #fff, 734px 1739px #fff,
    776px 1314px #fff, 750px 99px #fff, 809px 1622px #fff, 134px 110px #fff,
    151px 254px #fff, 154px 146px #fff, 1768px 866px #fff, 1155px 1261px #fff,
    1027px 693px #fff, 1582px 1690px #fff, 1690px 647px #fff, 208px 1186px #fff,
    868px 913px #fff, 1601px 1923px #fff, 953px 1920px #fff, 88px 495px #fff,
    975px 882px #fff, 463px 1805px #fff, 1734px 1609px #fff, 317px 11px #fff,
    692px 319px #fff, 1765px 1354px #fff, 1474px 1838px #fff, 1551px 1px #fff,
    948px 1973px #fff, 1287px 330px #fff, 1298px 1262px #fff, 1125px 661px #fff,
    1951px 662px #fff, 926px 1853px #fff, 1631px 1504px #fff, 751px 1663px #fff,
    1530px 140px #fff, 1187px 1340px #fff, 1824px 1989px #fff, 780px 55px #fff,
    200px 309px #fff, 1450px 377px #fff, 1157px 473px #fff, 1171px 874px #fff,
    1565px 1603px #fff, 926px 1623px #fff, 794px 1257px #fff, 1190px 302px #fff,
    1729px 348px #fff, 1589px 249px #fff, 1380px 1961px #fff, 1677px 1727px #fff,
    1795px 1108px #fff, 66px 1379px #fff, 237px 846px #fff, 1882px 987px #fff,
    988px 1186px #fff, 191px 285px #fff, 1649px 1999px #fff, 1562px 1505px #fff,
    1719px 237px #fff, 1166px 1326px #fff, 1632px 1664px #fff, 958px 611px #fff,
    877px 1651px #fff, 625px 1389px #fff, 363px 858px #fff, 1750px 1008px #fff,
    349px 1758px #fff, 1669px 278px #fff, 376px 402px #fff, 1107px 1512px #fff,
    1665px 2px #fff, 493px 1666px #fff, 1981px 539px #fff, 978px 1064px #fff,
    1283px 34px #fff, 468px 1063px #fff, 613px 628px #fff, 1536px 1502px #fff,
    1071px 223px #fff, 672px 346px #fff, 300px 1939px #fff, 1338px 1426px #fff,
    1484px 1676px #fff, 1251px 565px #fff, 477px 1245px #fff, 1824px 744px #fff,
    411px 1711px #fff, 1117px 1244px #fff, 1191px 767px #fff, 1489px 1351px #fff,
    1552px 565px #fff, 250px 1311px #fff, 1738px 790px #fff, 1763px 650px #fff,
    223px 897px #fff, 1729px 1621px #fff, 1670px 571px #fff, 1717px 614px #fff,
    1165px 378px #fff, 576px 31px #fff, 581px 129px #fff, 138px 1120px #fff,
    1396px 731px #fff, 1015px 1773px #fff, 1346px 1005px #fff, 1489px 841px #fff,
    975px 1966px #fff, 1860px 503px #fff, 1765px 517px #fff, 1512px 1612px #fff,
    1410px 1173px #fff, 1898px 1688px #fff, 732px 203px #fff, 1255px 1631px #fff,
    989px 1465px #fff, 680px 989px #fff, 911px 916px #fff, 735px 1832px #fff,
    1064px 1679px #fff, 359px 82px #fff, 832px 85px #fff, 1115px 1917px #fff,
    1205px 1002px #fff, 1793px 1542px #fff, 1142px 1763px #fff,
    1188px 1262px #fff, 348px 1486px #fff, 137px 1757px #fff, 1243px 949px #fff,
    269px 201px #fff, 1226px 344px #fff, 1736px 577px #fff, 21px 289px #fff,
    1663px 753px #fff, 1316px 948px #fff, 590px 1871px #fff, 1497px 1014px #fff,
    93px 1236px #fff, 1644px 954px #fff, 1611px 1332px #fff, 348px 1230px #fff,
    446px 880px #fff, 233px 1747px #fff, 1019px 180px #fff, 428px 663px #fff,
    440px 289px #fff, 320px 230px #fff, 548px 1747px #fff, 386px 1928px #fff,
    254px 1013px #fff, 1923px 150px #fff, 839px 1238px #fff, 45px 539px #fff,
    949px 656px #fff, 1859px 1406px #fff, 263px 893px #fff, 1607px 56px #fff,
    930px 753px #fff, 1519px 642px #fff, 427px 668px #fff, 1604px 11px #fff,
    1309px 1638px #fff, 1551px 124px #fff, 38px 928px #fff, 1731px 1156px #fff,
    1104px 1364px #fff, 73px 110px #fff, 1316px 908px #fff, 1383px 1297px #fff,
    765px 1140px #fff, 1034px 1647px #fff, 412px 1709px #fff, 1701px 1934px #fff,
    1447px 1078px #fff, 1508px 1580px #fff, 1452px 1554px #fff, 73px 1551px #fff,
    1283px 1288px #fff, 1634px 748px #fff, 1507px 1842px #fff, 814px 1180px #fff,
    295px 1327px #fff, 1167px 1536px #fff, 377px 916px #fff, 1037px 234px #fff,
    629px 538px #fff, 1410px 824px #fff, 201px 590px #fff, 1782px 571px #fff,
    699px 1665px #fff, 1439px 135px #fff, 1368px 730px #fff, 1079px 1632px #fff,
    1220px 1219px #fff, 1505px 1227px #fff, 274px 1742px #fff,
    1845px 1940px #fff, 1477px 1725px #fff, 788px 1236px #fff,
    1753px 1025px #fff, 1468px 921px #fff, 1056px 253px #fff, 1840px 1333px #fff,
    147px 412px #fff, 232px 902px #fff, 1822px 1583px #fff, 1947px 770px #fff,
    1597px 1806px #fff, 14px 177px #fff, 69px 336px #fff, 1045px 475px #fff,
    1141px 499px #fff, 228px 1164px #fff, 1231px 759px #fff, 1607px 3px #fff,
    262px 1649px #fff, 317px 1327px #fff, 1330px 763px #fff, 319px 506px #fff,
    1983px 1308px #fff, 716px 535px #fff, 105px 841px #fff, 916px 337px #fff,
    1522px 89px #fff, 1806px 1068px #fff, 1554px 15px #fff, 388px 440px #fff,
    1932px 1581px #fff, 582px 251px #fff, 226px 1516px #fff, 1978px 1968px #fff,
    418px 1410px #fff, 85px 1398px #fff, 1375px 1033px #fff, 1440px 280px #fff,
    1943px 310px #fff, 892px 1599px #fff, 287px 1051px #fff, 1326px 930px #fff,
    1227px 844px #fff, 1160px 897px #fff, 1795px 180px #fff, 939px 995px #fff;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1083px 962px #fff, 363px 1059px #fff, 142px 1552px #fff,
    1161px 868px #fff, 1366px 189px #fff, 1875px 1119px #fff, 1906px 1076px #fff,
    1276px 1316px #fff, 303px 478px #fff, 1768px 347px #fff, 424px 205px #fff,
    893px 1579px #fff, 82px 1052px #fff, 1030px 1px #fff, 461px 102px #fff,
    117px 506px #fff, 1029px 1385px #fff, 152px 1398px #fff, 1550px 361px #fff,
    1852px 906px #fff, 835px 297px #fff, 835px 1691px #fff, 1466px 1669px #fff,
    533px 808px #fff, 172px 1603px #fff, 1491px 1625px #fff, 110px 1503px #fff,
    776px 1319px #fff, 44px 347px #fff, 950px 1452px #fff, 116px 1958px #fff,
    546px 843px #fff, 1644px 1721px #fff, 1927px 170px #fff, 477px 884px #fff,
    1328px 1840px #fff, 718px 1091px #fff, 576px 1005px #fff, 1862px 1508px #fff,
    1813px 1700px #fff, 1160px 1636px #fff, 842px 749px #fff, 163px 1594px #fff,
    1005px 1653px #fff, 1065px 1098px #fff, 1977px 1524px #fff, 936px 627px #fff,
    542px 401px #fff, 257px 88px #fff, 1428px 1007px #fff, 1419px 440px #fff,
    1594px 1382px #fff, 970px 17px #fff, 1105px 1458px #fff, 804px 1380px #fff,
    1321px 239px #fff, 1386px 1521px #fff, 1097px 1981px #fff, 807px 1955px #fff,
    1406px 438px #fff, 603px 1691px #fff, 1535px 1560px #fff, 243px 846px #fff,
    852px 889px #fff, 540px 1088px #fff, 332px 1005px #fff, 1731px 762px #fff,
    1627px 389px #fff, 1769px 1005px #fff, 1112px 10px #fff, 138px 1957px #fff,
    1733px 158px #fff, 706px 1679px #fff, 1495px 186px #fff, 645px 376px #fff,
    63px 516px #fff, 1742px 1115px #fff, 1322px 607px #fff, 1527px 1340px #fff,
    318px 903px #fff, 542px 257px #fff, 1072px 1905px #fff, 1391px 929px #fff,
    1009px 622px #fff, 487px 1109px #fff, 87px 114px #fff, 1504px 208px #fff,
    49px 1049px #fff, 1859px 1379px #fff, 493px 1123px #fff, 91px 1465px #fff,
    1204px 1122px #fff, 1057px 236px #fff, 625px 890px #fff, 1483px 4px #fff,
    1831px 549px #fff, 1429px 298px #fff, 1649px 1527px #fff, 1039px 351px #fff,
    1129px 1973px #fff, 1648px 1990px #fff, 1926px 672px #fff, 125px 934px #fff,
    108px 1502px #fff, 422px 1344px #fff, 1080px 22px #fff, 1490px 1545px #fff,
    474px 1139px #fff, 1845px 1541px #fff, 1000px 210px #fff, 1403px 902px #fff,
    285px 1025px #fff, 122px 944px #fff, 433px 974px #fff, 1509px 353px #fff,
    1676px 1408px #fff, 1462px 825px #fff, 1239px 1154px #fff,
    1518px 1634px #fff, 103px 451px #fff, 991px 1361px #fff, 1471px 865px #fff,
    1865px 932px #fff, 74px 1854px #fff, 1306px 515px #fff, 214px 1583px #fff,
    777px 581px #fff, 746px 1902px #fff, 513px 1131px #fff, 1903px 663px #fff,
    415px 1301px #fff, 1817px 108px #fff, 658px 767px #fff, 119px 1172px #fff,
    1084px 228px #fff, 164px 581px #fff, 176px 1858px #fff, 1690px 1350px #fff,
    1739px 1137px #fff, 1684px 454px #fff, 1238px 1597px #fff,
    1093px 1154px #fff, 1600px 581px #fff, 123px 696px #fff, 1639px 251px #fff,
    1356px 598px #fff, 297px 604px #fff, 450px 798px #fff, 1060px 940px #fff,
    249px 1420px #fff, 237px 753px #fff, 474px 531px #fff, 1132px 229px #fff,
    156px 1529px #fff, 971px 52px #fff, 1838px 1170px #fff, 1252px 824px #fff,
    1587px 1053px #fff, 1807px 365px #fff, 347px 320px #fff, 1283px 1458px #fff,
    935px 1264px #fff, 891px 1673px #fff, 1628px 876px #fff, 1055px 972px #fff,
    727px 1593px #fff, 1959px 1277px #fff, 1672px 417px #fff, 1774px 519px #fff,
    1490px 1648px #fff, 846px 1670px #fff, 1046px 654px #fff, 661px 54px #fff,
    430px 1998px #fff, 18px 1687px #fff, 566px 1216px #fff, 1377px 1273px #fff,
    1693px 982px #fff, 608px 890px #fff, 547px 1138px #fff, 1060px 700px #fff,
    151px 835px #fff, 366px 1462px #fff, 165px 1959px #fff, 480px 1202px #fff,
    217px 1720px #fff, 1173px 418px #fff, 635px 1628px #fff, 992px 686px #fff,
    349px 1280px #fff, 33px 1220px #fff, 271px 1413px #fff, 1137px 1227px #fff,
    1557px 1579px #fff, 1771px 1908px #fff, 1567px 576px #fff, 545px 1583px #fff,
    752px 1432px #fff, 88px 1558px #fff, 1943px 918px #fff;
  -webkit-animation: animStar 100s linear infinite;
  animation: animStar 100s linear infinite;
}

#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1083px 962px #fff, 363px 1059px #fff, 142px 1552px #fff,
    1161px 868px #fff, 1366px 189px #fff, 1875px 1119px #fff, 1906px 1076px #fff,
    1276px 1316px #fff, 303px 478px #fff, 1768px 347px #fff, 424px 205px #fff,
    893px 1579px #fff, 82px 1052px #fff, 1030px 1px #fff, 461px 102px #fff,
    117px 506px #fff, 1029px 1385px #fff, 152px 1398px #fff, 1550px 361px #fff,
    1852px 906px #fff, 835px 297px #fff, 835px 1691px #fff, 1466px 1669px #fff,
    533px 808px #fff, 172px 1603px #fff, 1491px 1625px #fff, 110px 1503px #fff,
    776px 1319px #fff, 44px 347px #fff, 950px 1452px #fff, 116px 1958px #fff,
    546px 843px #fff, 1644px 1721px #fff, 1927px 170px #fff, 477px 884px #fff,
    1328px 1840px #fff, 718px 1091px #fff, 576px 1005px #fff, 1862px 1508px #fff,
    1813px 1700px #fff, 1160px 1636px #fff, 842px 749px #fff, 163px 1594px #fff,
    1005px 1653px #fff, 1065px 1098px #fff, 1977px 1524px #fff, 936px 627px #fff,
    542px 401px #fff, 257px 88px #fff, 1428px 1007px #fff, 1419px 440px #fff,
    1594px 1382px #fff, 970px 17px #fff, 1105px 1458px #fff, 804px 1380px #fff,
    1321px 239px #fff, 1386px 1521px #fff, 1097px 1981px #fff, 807px 1955px #fff,
    1406px 438px #fff, 603px 1691px #fff, 1535px 1560px #fff, 243px 846px #fff,
    852px 889px #fff, 540px 1088px #fff, 332px 1005px #fff, 1731px 762px #fff,
    1627px 389px #fff, 1769px 1005px #fff, 1112px 10px #fff, 138px 1957px #fff,
    1733px 158px #fff, 706px 1679px #fff, 1495px 186px #fff, 645px 376px #fff,
    63px 516px #fff, 1742px 1115px #fff, 1322px 607px #fff, 1527px 1340px #fff,
    318px 903px #fff, 542px 257px #fff, 1072px 1905px #fff, 1391px 929px #fff,
    1009px 622px #fff, 487px 1109px #fff, 87px 114px #fff, 1504px 208px #fff,
    49px 1049px #fff, 1859px 1379px #fff, 493px 1123px #fff, 91px 1465px #fff,
    1204px 1122px #fff, 1057px 236px #fff, 625px 890px #fff, 1483px 4px #fff,
    1831px 549px #fff, 1429px 298px #fff, 1649px 1527px #fff, 1039px 351px #fff,
    1129px 1973px #fff, 1648px 1990px #fff, 1926px 672px #fff, 125px 934px #fff,
    108px 1502px #fff, 422px 1344px #fff, 1080px 22px #fff, 1490px 1545px #fff,
    474px 1139px #fff, 1845px 1541px #fff, 1000px 210px #fff, 1403px 902px #fff,
    285px 1025px #fff, 122px 944px #fff, 433px 974px #fff, 1509px 353px #fff,
    1676px 1408px #fff, 1462px 825px #fff, 1239px 1154px #fff,
    1518px 1634px #fff, 103px 451px #fff, 991px 1361px #fff, 1471px 865px #fff,
    1865px 932px #fff, 74px 1854px #fff, 1306px 515px #fff, 214px 1583px #fff,
    777px 581px #fff, 746px 1902px #fff, 513px 1131px #fff, 1903px 663px #fff,
    415px 1301px #fff, 1817px 108px #fff, 658px 767px #fff, 119px 1172px #fff,
    1084px 228px #fff, 164px 581px #fff, 176px 1858px #fff, 1690px 1350px #fff,
    1739px 1137px #fff, 1684px 454px #fff, 1238px 1597px #fff,
    1093px 1154px #fff, 1600px 581px #fff, 123px 696px #fff, 1639px 251px #fff,
    1356px 598px #fff, 297px 604px #fff, 450px 798px #fff, 1060px 940px #fff,
    249px 1420px #fff, 237px 753px #fff, 474px 531px #fff, 1132px 229px #fff,
    156px 1529px #fff, 971px 52px #fff, 1838px 1170px #fff, 1252px 824px #fff,
    1587px 1053px #fff, 1807px 365px #fff, 347px 320px #fff, 1283px 1458px #fff,
    935px 1264px #fff, 891px 1673px #fff, 1628px 876px #fff, 1055px 972px #fff,
    727px 1593px #fff, 1959px 1277px #fff, 1672px 417px #fff, 1774px 519px #fff,
    1490px 1648px #fff, 846px 1670px #fff, 1046px 654px #fff, 661px 54px #fff,
    430px 1998px #fff, 18px 1687px #fff, 566px 1216px #fff, 1377px 1273px #fff,
    1693px 982px #fff, 608px 890px #fff, 547px 1138px #fff, 1060px 700px #fff,
    151px 835px #fff, 366px 1462px #fff, 165px 1959px #fff, 480px 1202px #fff,
    217px 1720px #fff, 1173px 418px #fff, 635px 1628px #fff, 992px 686px #fff,
    349px 1280px #fff, 33px 1220px #fff, 271px 1413px #fff, 1137px 1227px #fff,
    1557px 1579px #fff, 1771px 1908px #fff, 1567px 576px #fff, 545px 1583px #fff,
    752px 1432px #fff, 88px 1558px #fff, 1943px 918px #fff;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1188px 1005px #fff, 1830px 101px #fff, 1876px 493px #fff,
    1263px 1011px #fff, 1630px 25px #fff, 1401px 1133px #fff, 1202px 1804px #fff,
    1149px 440px #fff, 1097px 21px #fff, 1087px 1618px #fff, 1491px 1826px #fff,
    1621px 1810px #fff, 1302px 121px #fff, 60px 417px #fff, 1323px 1141px #fff,
    60px 275px #fff, 709px 883px #fff, 891px 1247px #fff, 1337px 1865px #fff,
    1245px 410px #fff, 1435px 1347px #fff, 254px 1570px #fff, 900px 1119px #fff,
    3px 358px #fff, 684px 921px #fff, 209px 1485px #fff, 955px 1387px #fff,
    99px 778px #fff, 32px 989px #fff, 1562px 1662px #fff, 1960px 1201px #fff,
    886px 1014px #fff, 278px 911px #fff, 1245px 758px #fff, 916px 284px #fff,
    10px 528px #fff, 761px 78px #fff, 1072px 1461px #fff, 1052px 1618px #fff,
    1945px 1653px #fff, 1982px 1399px #fff, 102px 862px #fff, 1984px 829px #fff,
    644px 282px #fff, 461px 1578px #fff, 1459px 849px #fff, 1672px 1748px #fff,
    1585px 1219px #fff, 98px 110px #fff, 1922px 317px #fff, 631px 1338px #fff,
    1923px 919px #fff, 1959px 1901px #fff, 672px 623px #fff, 992px 1106px #fff,
    611px 1851px #fff, 575px 1657px #fff, 653px 1853px #fff, 1732px 1834px #fff,
    1199px 1364px #fff, 662px 1874px #fff, 919px 145px #fff, 779px 498px #fff,
    899px 1177px #fff, 705px 196px #fff, 141px 77px #fff, 1486px 1072px #fff,
    581px 969px #fff, 748px 1982px #fff, 1877px 116px #fff, 1441px 981px #fff,
    758px 1px #fff, 1460px 108px #fff, 1511px 1472px #fff, 1420px 1160px #fff,
    393px 385px #fff, 1710px 920px #fff, 1737px 920px #fff, 700px 617px #fff,
    622px 1299px #fff, 1691px 611px #fff, 43px 771px #fff, 1834px 926px #fff,
    1362px 1268px #fff, 1517px 327px #fff, 1640px 1317px #fff, 400px 931px #fff,
    504px 1603px #fff, 218px 1206px #fff, 1435px 1542px #fff, 343px 463px #fff,
    774px 918px #fff, 727px 233px #fff, 968px 518px #fff, 812px 387px #fff,
    16px 932px #fff, 1784px 1895px #fff, 1984px 426px #fff, 445px 1703px #fff,
    394px 5px #fff;
  -webkit-animation: animStar 150s linear infinite;
  animation: animStar 150s linear infinite;
}

#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1188px 1005px #fff, 1830px 101px #fff, 1876px 493px #fff,
    1263px 1011px #fff, 1630px 25px #fff, 1401px 1133px #fff, 1202px 1804px #fff,
    1149px 440px #fff, 1097px 21px #fff, 1087px 1618px #fff, 1491px 1826px #fff,
    1621px 1810px #fff, 1302px 121px #fff, 60px 417px #fff, 1323px 1141px #fff,
    60px 275px #fff, 709px 883px #fff, 891px 1247px #fff, 1337px 1865px #fff,
    1245px 410px #fff, 1435px 1347px #fff, 254px 1570px #fff, 900px 1119px #fff,
    3px 358px #fff, 684px 921px #fff, 209px 1485px #fff, 955px 1387px #fff,
    99px 778px #fff, 32px 989px #fff, 1562px 1662px #fff, 1960px 1201px #fff,
    886px 1014px #fff, 278px 911px #fff, 1245px 758px #fff, 916px 284px #fff,
    10px 528px #fff, 761px 78px #fff, 1072px 1461px #fff, 1052px 1618px #fff,
    1945px 1653px #fff, 1982px 1399px #fff, 102px 862px #fff, 1984px 829px #fff,
    644px 282px #fff, 461px 1578px #fff, 1459px 849px #fff, 1672px 1748px #fff,
    1585px 1219px #fff, 98px 110px #fff, 1922px 317px #fff, 631px 1338px #fff,
    1923px 919px #fff, 1959px 1901px #fff, 672px 623px #fff, 992px 1106px #fff,
    611px 1851px #fff, 575px 1657px #fff, 653px 1853px #fff, 1732px 1834px #fff,
    1199px 1364px #fff, 662px 1874px #fff, 919px 145px #fff, 779px 498px #fff,
    899px 1177px #fff, 705px 196px #fff, 141px 77px #fff, 1486px 1072px #fff,
    581px 969px #fff, 748px 1982px #fff, 1877px 116px #fff, 1441px 981px #fff,
    758px 1px #fff, 1460px 108px #fff, 1511px 1472px #fff, 1420px 1160px #fff,
    393px 385px #fff, 1710px 920px #fff, 1737px 920px #fff, 700px 617px #fff,
    622px 1299px #fff, 1691px 611px #fff, 43px 771px #fff, 1834px 926px #fff,
    1362px 1268px #fff, 1517px 327px #fff, 1640px 1317px #fff, 400px 931px #fff,
    504px 1603px #fff, 218px 1206px #fff, 1435px 1542px #fff, 343px 463px #fff,
    774px 918px #fff, 727px 233px #fff, 968px 518px #fff, 812px 387px #fff,
    16px 932px #fff, 1784px 1895px #fff, 1984px 426px #fff, 445px 1703px #fff,
    394px 5px #fff;
}

#title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #fff;
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
}

#title span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@-webkit-keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
} /*# sourceMappingURL=background.css.map */
